*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --font-family: 'Lato', sans-serif;
 --cilety-color:#F2F5F6;
 --dark-blue-color:#043A53;
 --white-color:#FFFFFF;
 --dark-text-cilety-color:#12141D;
 --light-text-cilety-color:#404040;
 --primary-color: #3498db;
  --secondary-color: #2ecc71; 
  --accent-color: #e74c3c; 
}
html {
    font-size: 10px;
}
body {
    font-family: var(--font-family);
  }
  a {
    cursor: pointer;
    text-decoration: none;
    color: var(--dark-text-cilety-color); /* Optional: Set your preferred link color */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

a:hover {
    color: var(--dark-blue-color);
   
}
button{
    cursor: pointer;
    border: none;
    color: var(--white-color);
    background-color: var(--dark-blue-color);
    border-radius: 4.2rem;
    transition:  color 0.3s ease; 
}
button:hover{
    color: var(--dark-blue-color);
    background-color: var(--white-color);
}
.menu_container{
    height: 9.8rem;
    background-color: var(--cilety-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem 2rem 2.4rem 2rem;
}
.menu_container .menu_icon{
    display: none;
}

.menu_container .logo_container{
    height: 2.4rem;
    width: 15.8rem;
}

.menu_container .links_container{
    height: 1.9rem;
    display: flex;
    gap:4rem;
    list-style-type: none;
}
.menu_container .links_container button{
    display: none;
}
.menu_container .links_container li{
    font-size: 1.6rem;
    line-height: 100%;
    font-weight: 700;
}
.menu_container .buttons_container{
    height: 5rem;
     
    display: flex;
    gap: 1rem;
}
.menu_container .buttons_container button{
    padding: 0.8rem 1.6rem 0.8rem 1.6rem;
}
main #hero{
    height: 70rem;
    background-color: var(--cilety-color);
    padding: 10rem 12rem 10rem 12rem;
    display: flex;
   justify-content: center;
   
}
main #hero .header_text_container{
    height: 34rem;
    display: flex;
    
}
main #hero .header_text_container .hero_5{
    width: 19.7rem;
    height: 34rem;
}
main #hero .header_text_container .hero_second{
    width: 21.2rem;
    height: 34rem;
}
main #hero .header_text_container .title_container{
    height: 27.9rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}
main #hero .header_text_container .title_container .text_container{
    height: 18rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
main #hero .header_text_container .title_container .text_container .title{
    height: 10.6rem;
    font-weight: 800;
    font-size: 6.4rem;
    line-height: 4rem;
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
    text-align: center;
    
}
main #hero .header_text_container .title_container .text_container .sub_title{
    height: 4.8rem;
    opacity: 70%;
    font-size: 2rem;
    font-weight: 500;
    line-height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
 
}
main #hero .header_text_container .title_container .btns_container{
    display: flex;
    gap:3.2rem;
    height: 6.7rem;
    justify-content: center;
}
main #hero .header_text_container .title_container .btns_container button:nth-child(1){
   border-radius: 5.5rem;
   height: 6rem;
   padding: 1.6rem 2.4rem 1.6rem 2.4rem;
   
}
main #hero .header_text_container .title_container .btns_container button:nth-child(2){
    border-radius: 5.5rem;
    height: 6rem;
    padding: 1.6rem 2.4rem 1.6rem 2.4rem;
    display: flex;
    gap: 1.6rem;
    box-shadow: 0px 23px 47px 0px #043A533D;
    background-color: unset;
    align-items: center;


    
 }
 main #hero .header_text_container .title_container .btns_container button:nth-child(2):hover{
    background-color: unset;
 }
 main #hero .header_text_container .title_container .btns_container button:nth-child(2) #play_button{
    height: 3.5rem;
    width: 3.5rem;
 }
 main #hero .header_text_container .title_container .btns_container button:nth-child(2) span{
    height: 2.8rem;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.8rem;
    text-align: right;
    color: var(--dark-blue-color);
    
 }

 #trust_brands{
    height: 13.2rem;
    padding: 5rem 15rem 5rem 15rem;
    display: flex;
    gap: 6.4rem;
    align-items: center;
 }
 #trust_brands p{
    font-weight: 500;
    color: #000000;
    font-size: 1.6rem;
    line-height: 2.4rem;
 }
 #trust_brands .trust_brands_icon_container{
    display: flex;
    gap: 6.4rem;
    align-items: center;
 }
 #trust_brands .trust_brands_icon_container div:nth-of-type(1),
 #trust_brands .trust_brands_icon_container div:nth-of-type(2){
    display: flex;
    gap: 6.4rem;
    align-items: center;
 }
 #trust_brands .trust_brands_icon_container div:nth-of-type(1) img:nth-of-type(1){
    width: 9.7rem;
height: 3.2rem;

 }
 #trust_brands .trust_brands_icon_container div:nth-of-type(1) img:nth-of-type(2){
    width: 13.5rem;
height: 1.7rem;

 }
 #trust_brands .trust_brands_icon_container div:nth-of-type(1) img:nth-of-type(3){
    width: 9.5rem;
height: 2rem;

 }
 #trust_brands .trust_brands_icon_container div:nth-of-type(2) img:nth-of-type(1){
    width:12.9rem;
height: 3rem;

 }
 #trust_brands .trust_brands_icon_container div:nth-of-type(2) img:nth-of-type(2){
    width: 9.5rem;
height: 2.9rem;

 }

 #video_section{
    height: 94.4rem;
    display: flex;
    padding: 10rem 15rem 0rem 15rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6.4rem;
    background-color:var(--dark-blue-color);
    
 }

 #video_section .video_header_text_container{
    display: flex;
justify-content: space-between;



 }
 #video_section .video_header_text_container .title_text{
    width: 58.8rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 7.2rem;
    letter-spacing: -0.12rem;

 }
 #video_section .video_header_text_container .title_text span:first-child{
    color: var(--white-color); 
    
 }
 #video_section .video_header_text_container .title_text span:last-child{
    color:  #F0B73F;
    
 }
 #video_section .video_header_text_container .sub_title_text{
   width: 43.2rem;
   color: var(--white-color);
   font-family: Lato;
   font-size: 2rem;
   font-style: normal;
   font-weight: 400;
   line-height: 3rem;
   display: flex;
   flex-direction: column;
 }

 #video_section .video_container{
    position: relative;
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
 }
 #video_section .video_container .bg{
    height: 63.6rem;
    width: 110.3rem;
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
    
    
 }
 #video_section .video_container .play_video_icon{
    position: absolute;
    top:45%;
    left:45%;
    right: 50%;
    bottom: 50%;
    z-index: 200;
    width: 12rem;
    height: 12rem;
 }

 #benefits{
    display: flex;
    gap: 6.4rem;
    padding: 10rem 15rem 10rem 15rem;
    background-color: var(--white-color);
 }
 #benefits .benefits_title_container{
    display: flex;
    flex-direction: column;
    gap:3.2rem;
    align-items:flex-start;
    width: 25.6rem;
 }
 #benefits .benefits_title_container .benefit_badge{
    border-radius: 10rem;
    display: flex;
    gap: 1rem;
    padding: 0.4rem 2.4rem 0.4rem 2.4rem;

 }
 #benefits .benefits_title_container .benefit_title_text{
   width: 100%;
   font-size: 6rem;
   font-weight:700 ;
   line-height: 7.2rem;
   letter-spacing: -2%;

 }
 #benefits .benefits_title_container .benefit_subTitle_text{
    width: 100%;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;

 }
 #benefits .benefits_card_container{
    display: flex;
    gap: 1.6rem;
 }
 #benefits .benefits_card_container .benefit_card{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    border-radius: 1.6rem;
    align-items: flex-start;
    background-color: var(--cilety-color);
    padding:3.2rem 2.4rem 3.2rem 2.4rem;

 }
 #benefits .benefits_card_container .benefit_card .benefit_card_text_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
 }
 #benefits .benefits_card_container .benefit_card .benefit_card_text_container .benefit_title{
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.2rem;
    color:var(--dark-text-cilety-color);

 }
 #benefits .benefits_card_container .benefit_card .benefit_card_text_container .benefit_description{
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #404040;
 }
#building_bridges{
    height: 70rem;
    padding-right: 15rem;
    display: flex;
    gap: 7.7rem;
    background-color: var(--white-color);
}
#building_bridges .bridges_left_data_container{
    position: relative;
    
}
#building_bridges .bridges_left_data_container .bridge_image{
    width: 62.9rem;
    border-top-right-radius: 1.6rem;
    border-bottom-right-radius: 1.6rem;
}

#building_bridges .bridges_left_data_container .award_detail_container{
    width: 22.9rem;
    height: 22.9rem;
    position: absolute;
    bottom: 4rem;
    right: -6rem;
    border-radius: 100rem;
    border: 0.4rem;
    padding: 2.6rem 5.6rem 2.6rem 5.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    background-color: var(--dark-blue-color);
    color: var(--white-color);
    box-shadow: 1rem 1.3rem 3rem 0rem #043A533D;

}
#building_bridges .bridges_left_data_container .award_detail_container .dimond_icon{
    width: 5.6rem;
    height: 5.6rem;

    
}
#building_bridges .bridges_left_data_container .award_detail_container .award_text_container{
    display: flex;
    flex-direction: column;
}
#building_bridges .bridges_left_data_container .award_detail_container .award_text_container p:first-child{
   color: var(--white-color);
   font-size: 4.8rem;
   line-height: 6rem;
   font-weight: 700;
   letter-spacing: -2%;
   text-align: center;
}
#building_bridges .bridges_left_data_container .award_detail_container .award_text_container p:last-child{
    color: var(--white-color);
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 700;
    text-align: center;
 }
 #building_bridges .bridges_right_data_container{
    display: flex;
    flex-direction: column;
    gap:3.2rem;
    align-items: flex-start;
    justify-content: center;

 }
 #building_bridges .bridges_right_data_container .bridge_text{
    font-weight: 700;
    font-size: 6rem;
    line-height: 7.2rem;
    letter-spacing: -2%;
 }
 #building_bridges .bridges_right_data_container .bridge_text span:first-child{
    color: var(--dark-text-cilety-color);
 }
 #building_bridges .bridges_right_data_container .bridge_text span:last-child{
    color: #92A7B0;
 }
 #building_bridges .bridges_right_data_container .bridge_sub_text{
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    color: var(--dark-text-cilety-color);
 }
 #building_bridges .bridges_right_data_container .bridge_action{
    border-radius: 5.5rem;
    padding: 1.6rem 1.6rem 1.6rem 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2.5rem;
 }
 #building_bridges .bridges_right_data_container .bridge_action span{
    display: flex;
    gap: 0.9rem;
 }
 #building_bridges .bridges_right_data_container .bridge_action img{
    width:3.2rem;
    height: 3.2rem;
    border-radius: 10rem;
    display: flex;
    gap: 1rem;
    padding: 0.4rem;
    background-color: #F2F5F629;
 }
 /* responsive design */
 @media screen and (max-width:1350px) {
    
    main #hero .header_text_container .title_container .text_container .title {
        font-size: 3rem !important;
        gap: 0.5rem;
    }
    main #hero .header_text_container .title_container .text_container .sub_title {
        font-size: 1.5rem !important;
    }
    main #hero .header_text_container .title_container .text_container {
        gap: 0.1rem;
    }
   
  #trust_brands{
    flex-direction: column;
    padding: 5rem 2rem 5rem 2rem !important;
    height: 20rem;
    gap: 2rem !important;
}
#trust_brands .trust_brands_icon_container{
    flex-direction: column;
    gap: 2rem !important;
}

#video_section .video_container .bg{
    
    width: 80.3rem !important;
    object-fit: cover;


    
 }

 #video_section .video_header_text_container .title_text{
    font-size: 4rem !important;
    width: 40rem;
 }
 #video_section .video_header_text_container .sub_title_text{
    font-size: 1.5rem !important;
    width: 25rem !important;
 }
    
 #benefits{
 flex-direction: column;
 align-items: center;
 }
 #benefits .benefits_card_container{
    display: flex;
    gap: 1.6rem;
    flex-direction: column;
 }
 }


 

 @media screen and (max-width:995px) {
    main #hero{
        height: 84.8rem;
    }
    main #hero .header_text_container {
        height: 100%;
        flex-direction: column;
        position: relative;
    }
    main #hero .header_text_container .hero_5{
        position: absolute;
        bottom: 0;
        left: 0;
    }
    main #hero .header_text_container .title_container {
        position: relative;

    }
    main #hero .header_text_container .hero_second{
    position: absolute;
    bottom: 0;
    right: 0;
    }
    .menu_container{
        background-color: var(--white-color);
    }
    .menu_container .menu_icon{
        display: block;
        height: 2.4rem;
        width: 2.4rem;
    }
    
       .menu_container .links_container{
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        background-color: var(--white-color) !important;
        padding: 2rem;
        z-index: 1000;
        height: 100%;
        visibility: hidden;
        width: 0rem;
        transition: all 0.1s;
        align-items: center;
    }
    .menu_container .links_container button{
        display: inline-block;
        padding: 1rem;
        width: max-content;
        align-self: baseline;
       
    }
    .menu_container .buttons_container{
        position: fixed;
        right: 0;
        bottom: 0;
        visibility: hidden;
        width: 0rem;
        transition: all 0.1s;
        align-items: baseline;
        z-index: 1000;
    
    }
    #video_section .video_container .bg{
    
        width: 50rem !important;
        object-fit: cover;
    
    
        
     }
     #video_section .video_container .play_video_icon{
        position: absolute;
        top: 50% !important;
        left: 40% !important;
       
        width: 3.5rem !important;
        height: 3.5rem !important;
     }
    
 }



 @media screen and (max-width:755px) {
    main #hero .header_text_container .title_container .text_container .sub_title {
        font-size: 1rem !important;
    }
    main #hero .header_text_container .hero_second{
        width: 17.4rem !important;
        height: 27.9rem !important;
        object-fit: cover;
        }
        main #hero .header_text_container .hero_5{
            width: 16.2rem !important;
            height: 27.9rem !important;
            object-fit: cover;
        }
      
       
        main #hero .header_text_container .title_container .btns_container {
            
            flex-direction: column;
    
            align-items: center;
        }
        main #hero .header_text_container .title_container{
            width: max-content;
        }
        #trust_brands .trust_brands_icon_container div:nth-of-type(1),
        #trust_brands .trust_brands_icon_container div:nth-of-type(2){
           
           gap: 2.4rem !important;
        
        }

        #trust_brands .trust_brands_icon_container div:nth-of-type(1) img:nth-of-type(1) {
            width: 6.6rem !important;
            height: 2.2rem !important;
        }
        #trust_brands .trust_brands_icon_container div:nth-of-type(1) img:nth-of-type(2) {
            width: 10.6rem !important;
            height: 1.3rem !important;
        }
        #trust_brands .trust_brands_icon_container div:nth-of-type(1) img:nth-of-type(3) {
            width: 7.6rem !important;
            height: 1.6rem !important;
        }
        #video_section {
            height: max-content !important;
        }
        #video_section .video_header_text_container {
         
            flex-direction: column;
        }
        #video_section .video_header_text_container .title_text {
            font-size: 4rem !important;
            width: 30.2rem !important;
            gap: 0rem !important;
            line-height: 3.8rem !important;
            letter-spacing: 0rem !important;
        }
        #video_section .video_header_text_container .sub_title_text {
            font-size: 1.4rem !important;
            width: 30.2rem !important;
            
        }
        #video_section .video_container .bg {
            width: 30.1rem !important;
            
        }
        #video_section .video_container .play_video_icon {
            top: 49% !important;
        left: 34% !important;
        }
        #benefits{
            padding: 5rem 2rem 5rem 2rem !important;
            gap: 3.2rem;
        }

        #benefits .benefits_title_container {
            align-items: center !important;
            gap: 1.6rem !important;
           
        }
        #benefits .benefits_title_container .benefit_badge {
            padding: 0.4rem 1.6rem 0.4rem 1.6rem !important;
        }
        #benefits .benefits_title_container .benefit_title_text {
            font-size: 3rem;
            line-height: 3.8rem;
            text-align: center;
            width: max-content !important;
        }
        #benefits .benefits_title_container .benefit_subTitle_text {
            font-size: 1.4rem !important;
            line-height: 2rem !important;
            text-align: center !important;
            
        }
        #benefits .benefits_card_container .benefit_card .benefit_card_text_container .benefit_title {
            font-size: 2rem !important;
            line-height: 3rem !important;
        }
        #benefits .benefits_card_container .benefit_card .benefit_card_text_container .benefit_description {
            font-size: 1.4rem !important;
            line-height: 2rem !important;
        }
   
 }


 